 <div class="ms-2 mt-3 me-0 p-3" style="background-color: #9BDCD1;">
    <div class="mb-2">
        <h5>Price</h5>
        <input type="range" class="form-range" min="500" max="50000" step="10" id="priceRange" value="2000">
        <div class="d-flex justify-content-between">
            <span>Rs. 500</span>
            <span>Rs. 50000+</span>
        </div>
    </div>

    <div class="mb-2">
        <h5>Rating</h5>
        <div class="d-flex justify-content-between">
            <label>1 Star</label>
            <input type="checkbox" class="form-check-input" id="rating1">
        </div>
        <div class="d-flex justify-content-between">
            <label>2 Stars</label>
            <input type="checkbox" class="form-check-input" id="rating2">
        </div>
        <div class="d-flex justify-content-between">
            <label>3 Stars</label>
            <input type="checkbox" class="form-check-input" id="rating3">
        </div>
        <div class="d-flex justify-content-between">
            <label>4 Stars</label>
            <input type="checkbox" class="form-check-input" id="rating4">
        </div>
        <div class="d-flex justify-content-between">
            <label>5 Stars</label>
            <input type="checkbox" class="form-check-input" id="rating5">
        </div>
    </div>

    <div class="mb-2">
        <h5>Room Types</h5>
        <div>
            <input class="form-check-input" type="checkbox" id="roomSingle">
            &nbsp;
            <label for="roomSingle">
                Single Room
            </label>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" id="roomDouble">
            &nbsp;
            <label for="roomDouble">
                Double Room
            </label>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" id="roomSuite">
            &nbsp;
            <label for="roomSuite">
                Suite Room
            </label>
        </div>
    </div>
</div>